* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas.tile {
  position: absolute;
}

canvas.intermediate, #intercept {
  position: absolute;
  top: 0;
  left: 0;
}

canvas.intermediate {
  width: 100%;
  height: 100%;
}

#intercept {
  z-index: 1000;
  right: 0;
  bottom: 0;
}

#recentStyles {
  margin-top: 20px;
  background-color: #303030;
}

#recentStyles .preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 3px;
}

.preview div {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}
